reddit-opportunity-finder.json
{
  "name": "Reddit Business Opportunity Finder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reddit-opportunities",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "reddit-opp"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/Entrepreneur/new.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $env.REDDIT_USER_AGENT || 'business-opportunity-bot/1.0' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-entrepreneur",
      "name": "Fetch r/Entrepreneur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [550, 250]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/startups/new.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $env.REDDIT_USER_AGENT || 'business-opportunity-bot/1.0' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-startups",
      "name": "Fetch r/startups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [550, 400]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/SaaS/new.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $env.REDDIT_USER_AGENT || 'business-opportunity-bot/1.0' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-saas",
      "name": "Fetch r/SaaS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [550, 550]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/smallbusiness/new.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $env.REDDIT_USER_AGENT || 'business-opportunity-bot/1.0' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-smallbusiness",
      "name": "Fetch r/smallbusiness",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [550, 700]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Subreddit Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract and filter Reddit posts for business opportunities\nconst allPosts = [];\nconst now = Date.now() / 1000; // Current time in seconds\nconst oneDayAgo = now - (24 * 60 * 60); // 24 hours ago\n\n// Keywords that indicate potential business problems\nconst problemKeywords = [\n  'frustrated', 'problem', 'issue', 'need', 'looking for', \n  'struggling', \"can't find\", \"doesn't exist\", 'wish there was',\n  'pain point', 'difficult', 'challenge', 'help me', 'advice',\n  'how do i', 'better way', 'automate', 'tool for', 'software for'\n];\n\n// Process each input (one per subreddit)\nfor (const item of $input.all()) {\n  const data = item.json.data;\n  const subreddit = data.children?.[0]?.data?.subreddit || 'unknown';\n  \n  for (const post of data.children || []) {\n    const p = post.data;\n    \n    // Skip if too old (older than 24 hours)\n    if (p.created_utc < oneDayAgo) continue;\n    \n    // Skip if too low engagement (less than 3 upvotes)\n    if (p.ups < 3) continue;\n    \n    // Skip if removed/deleted\n    if (p.removed_by_category || p.removed) continue;\n    \n    // Combine title and selftext for analysis\n    const fullText = `${p.title} ${p.selftext || ''}`.toLowerCase();\n    \n    // Check for problem keywords\n    let keywordScore = 0;\n    for (const keyword of problemKeywords) {\n      if (fullText.includes(keyword)) {\n        keywordScore += 1;\n      }\n    }\n    \n    // Skip if no problem keywords found\n    if (keywordScore === 0) continue;\n    \n    // Skip obvious spam/self-promotion\n    if (fullText.includes('check out my') || \n        fullText.includes('visit my website') ||\n        fullText.includes('buy now') ||\n        fullText.includes('discount code')) {\n      continue;\n    }\n    \n    // Calculate opportunity score\n    const engagementScore = p.ups + (p.num_comments * 2);\n    const opportunityScore = keywordScore + (engagementScore / 10);\n    \n    allPosts.push({\n      id: p.id,\n      subreddit: subreddit,\n      title: p.title,\n      selftext: p.selftext || '',\n      url: `https://reddit.com${p.permalink}`,\n      author: p.author,\n      upvotes: p.ups,\n      comments: p.num_comments,\n      created: p.created_utc,\n      keyword_matches: keywordScore,\n      opportunity_score: opportunityScore,\n      full_text: fullText.substring(0, 1000) // Limit length\n    });\n  }\n}\n\n// Sort by opportunity score (highest first)\nallPosts.sort((a, b) => b.opportunity_score - a.opportunity_score);\n\n// Take top 10 to avoid overwhelming the AI and Telegram\nconst topPosts = allPosts.slice(0, 10);\n\nreturn topPosts.map(post => ({ json: post }));"
      },
      "id": "filter-posts",
      "name": "Filter & Score Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batch",
      "name": "Process Each Post",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build AI analysis request\nconst post = $input.item.json;\n\nconst systemPrompt = `You are a business opportunity analyst. Analyze Reddit posts to identify software business opportunities.\n\nFor each post, return JSON ONLY (no markdown):\n{\n  \"is_opportunity\": true/false,\n  \"problem\": \"Clear 1-sentence problem statement\",\n  \"who_has_it\": \"Target customer segment\",\n  \"solution_idea\": \"2-3 sentence software solution\",\n  \"opportunity_score\": 1-10,\n  \"reasoning\": \"Why this score (1 sentence)\"\n}\n\nScore criteria:\n- 8-10: Clear pain point, large market, urgent need, willing to pay\n- 5-7: Real problem but niche market or unclear monetization  \n- 1-4: Interesting but low commercial potential\n\nRed flags (score 1-2):\n- Already solved by existing tools\n- Too niche (< 1000 potential customers)\n- \"Wouldn't it be cool if...\" ideas without pain\n- Vague problems without specific use cases`;\n\nconst userPrompt = `Analyze this Reddit post:\n\nSubreddit: r/${post.subreddit}\nTitle: ${post.title}\nContent: ${post.selftext}\nEngagement: ${post.upvotes} upvotes, ${post.comments} comments\n\nIs this a viable software business opportunity? Extract the problem and suggest a solution.`;\n\nconst aiPayload = {\n  model: $env.OPENROUTER_MODEL || 'anthropic/claude-3.5-sonnet',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ],\n  temperature: 0.7,\n  max_tokens: 500\n};\n\nreturn {\n  json: {\n    ...post,\n    ai_payload: aiPayload\n  }\n};"
      },
      "id": "build-ai-request",
      "name": "Build AI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 400]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://github.com/your-username/reddit-opportunity-finder"
            },
            {
              "name": "X-Title",
              "value": "Reddit Opportunity Finder"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ai_payload) }}",
        "options": {}
      },
      "id": "ai-analysis",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and prepare for Telegram\nconst post = $input.item.json;\nconst aiResponse = post.choices?.[0]?.message?.content || '{}';\n\nlet analysis;\ntry {\n  // Remove markdown code blocks if present\n  const cleaned = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  analysis = JSON.parse(cleaned);\n} catch (e) {\n  // Fallback if AI didn't return valid JSON\n  analysis = {\n    is_opportunity: false,\n    problem: 'AI analysis failed',\n    who_has_it: 'Unknown',\n    solution_idea: 'Could not analyze this post',\n    opportunity_score: 0,\n    reasoning: 'JSON parse error'\n  };\n}\n\n// Only pass through if it's a real opportunity (score >= 5)\nif (!analysis.is_opportunity || analysis.opportunity_score < 5) {\n  return null; // Skip this post\n}\n\n// Determine priority emoji\nlet priorityEmoji = '💡';\nlet priorityLabel = 'MEDIUM';\n\nif (analysis.opportunity_score >= 8) {\n  priorityEmoji = '🔥';\n  priorityLabel = 'HIGH';\n} else if (analysis.opportunity_score >= 5) {\n  priorityEmoji = '⚡';\n  priorityLabel = 'MEDIUM';\n}\n\n// Format Telegram message\nconst message = `${priorityEmoji} ${priorityLabel} PRIORITY (Score: ${analysis.opportunity_score}/10)\n\n📋 Problem: \"${analysis.problem}\"\n\n👥 Who: ${analysis.who_has_it}\n\n💡 Solution: ${analysis.solution_idea}\n\n🤔 Why this score: ${analysis.reasoning}\n\nFrom: r/${post.subreddit}\n👍 ${post.upvotes} upvotes | 💬 ${post.comments} comments\n🔗 ${post.url}\n\n━━━━━━━━━━━━━━━━━━━━`;\n\nreturn {\n  json: {\n    ...post,\n    analysis: analysis,\n    telegram_message: message,\n    priority: priorityLabel,\n    score: analysis.opportunity_score\n  }\n};"
      },
      "id": "parse-format",
      "name": "Parse & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2350, 400]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $env.TELEGRAM_CHAT_ID,\n  text: $json.telegram_message,\n  parse_mode: 'HTML',\n  disable_web_page_preview: false\n}) }}",
        "options": {}
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID_OPPORTUNITIES }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Opportunities",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Subreddit": "={{ $json.subreddit }}",
            "Score": "={{ $json.score }}",
            "Priority": "={{ $json.priority }}",
            "Problem": "={{ $json.analysis.problem }}",
            "Solution": "={{ $json.analysis.solution_idea }}",
            "Target": "={{ $json.analysis.who_has_it }}",
            "Upvotes": "={{ $json.upvotes }}",
            "Comments": "={{ $json.comments }}",
            "URL": "={{ $json.url }}",
            "Status": "New"
          }
        },
        "options": {}
      },
      "id": "log-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2950, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {},
      "id": "check-continue",
      "name": "Check if More Posts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [3250, 400]
    },
    {
      "parameters": {
        "jsCode": "// Summary message after processing all posts\nconst totalProcessed = $input.all().length;\n\nconst summaryMessage = `✅ Reddit Opportunity Scan Complete\n\n📊 Results:\n- Posts analyzed: ${totalProcessed}\n- Opportunities found and sent above\n\nNext steps:\n1. Review opportunities in Telegram\n2. Click Reddit links to read full discussions  \n3. Update Google Sheet status when pursuing\n\nRun again anytime by triggering the webhook!`;\n\nreturn {\n  json: {\n    summary_message: summaryMessage,\n    total_processed: totalProcessed\n  }\n};"
      },
      "id": "build-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3550, 550]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $env.TELEGRAM_CHAT_ID,\n  text: $json.summary_message,\n  parse_mode: 'HTML'\n}) }}",
        "options": {}
      },
      "id": "send-summary",
      "name": "Send Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3850, 550]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', message: 'Scan complete', opportunities_found: $json.total_processed }) }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4150, 550]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch r/Entrepreneur",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch r/startups",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch r/SaaS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch r/smallbusiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch r/Entrepreneur": {
      "main": [
        [
          {
            "node": "Merge Subreddit Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch r/startups": {
      "main": [
        [
          {
            "node": "Merge Subreddit Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch r/SaaS": {
      "main": [
        [
          {
            "node": "Merge Subreddit Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch r/smallbusiness": {
      "main": [
        [
          {
            "node": "Merge Subreddit Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Subreddit Results": {
      "main": [
        [
          {
            "node": "Filter & Score Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Score Posts": {
      "main": [
        [
          {
            "node": "Process Each Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Post": {
      "main": [
        [
          {
            "node": "Build AI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Request": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Parse & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Format": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Process Each Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if More Posts": {
      "main": [
        null,
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Send Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-02-22T00:00:00.000Z",
  "versionId": "1"
}
